img {
  /* width:100%; */
  max-width:750px;
  max-height: 85vh;
  border-radius: var(--br);
}

#total-wrap {
  margin:2rem;
}

.list-wrap {
  padding-left:0;
  margin-bottom: 1rem;
}

.list-wrap:last-of-type {
  margin-top:1rem;
  margin-bottom: none;
}

.ged {
  font-size: 5rem;
  line-height: 4rem;
  /* font-family: 'blackchancery'; */
  font-family: 'selectric-mono', serif;
  /* text-align: center; */
  padding-bottom: 1rem;
  margin-top:1rem;
}

.image-feed {
  display: flex;
  flex-direction: column-reverse;
}

.image-feed > div {
  /* margin-bottom: 3rem; */
  position: relative;
  padding:1.5rem 0;
  border-top:1px solid var(--accent);
  border-bottom:1px solid var(--accent);
  /* display: flex; */
}

.image-feed > div > div {
  margin-top:1rem;
  width:100%;
  display: flex;
  /* margin-left:1rem; */
  /* padding:1rem; */
  /* background: var(--accent); */
  /* align-items: flex-end; */
  /* justify-content: flex-end; */
  /* align-items: center; */
}

@media (max-width:800px) {
  img {
    width:100%;
    max-height:100%;
  }

  #total-wrap {
    margin:1rem;
  }

  .ged {
    text-align: center;
  }
}
