* {
  box-sizing: border-box;
}

:root {
  --textcolor: rgb(42, 42, 42);
  --bg: #d7cec2;
  --hover: #f06235;
  --tan: rgb(201, 210, 206);
  --nicegreen: #aabb7f;
  --green: rgb(132, 206, 155);
  --yellow: rgb(242, 220, 165);
  --border: rgba(20,20,20,.6);
}

::selection {
  background: rgb(255, 255, 255);
}

::-moz-selection {
  /* background: rgb(242, 220, 165); */
  background:var(--hover);
}

html {
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5rem;
  background: var(--bg);
  color: var(--textcolor);
  overflow: hidden;
}

img {
  max-width: 100%;
}

a {
  color: var(--textcolor);
  text-decoration: none;
  border-bottom: 1px solid var(--textcolor);
}

a:hover {
  border-bottom: 1px dashed var(--textcolor);
  /* background: white; */
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style:none;
  line-height: 1.75rem;
}

hr {
  border:none;
  border-bottom:1px solid var(--textcolor);
  /* height:4px; */
  margin:1rem 0;
}

button {
  border: none;
}

/* type sizing */
.small {
  font-size:.88rem;
}

.large {
  font-size:1.13rem;
}





/* LOADING & WRAPPER
--------------------------------------- */
#loading {
  background-color: var(--bg);
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 999;
}

#wrapper {
  height:100vh;
  opacity:0;
  transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  /* margin:1rem; */
  padding: 1rem;
  /* cursor: help; */
  /* pointer-events: none; */
}



/* HEADER
--------------------------------------- */
#header {
  display: flex;
  flex-direction: column;
  width:100%;
  justify-content: space-between;
  align-items: flex-start;

  /* height:2rem; */
  /* background:orange; */
}

#name {
  /* background: red; */
  /* width:33%; */
  margin-bottom: .4rem;
}

#phrase {
  font-style:italic;
  margin-right: 4rem;
  /* background: green; */
  /* text-align: center; */
  /* flex-grow: 1; */
  /* width:33%; */
}

#links {
  /* background: blue; */
  position: absolute;
  right:1rem;
  /* width:50%; */
  display: flex;
  /* height:100%; */
  justify-content: flex-end;
  z-index: 9999;
  /* align-items: center; */
}

#links-btn {
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height:100%; */
  width:3.5rem;
  height:3.5rem;
  text-align: center;
  /* border:1px solid var(--textcolor); */
  background: var(--textcolor);
  /* border-radius: 50%; */
  border-radius: 20px;
  transition: background .1s ease-in-out;
  /* padding:.2rem 0; */
  /* font-size: 2rem; */
}

#links-btn:hover {
  background: var(--hover);
  cursor: pointer;
}


/* PULSAR
--------------------------------------- */
#pulsar-wrap {
  position: fixed;
  bottom:0;
  left:0;
  width:100%;
  height:50%;
  /* background: red; */
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  /* border-top:1px solid var(--textcolor); */
}

#pulsar {
  /* position: absolute; */
  /* border:1px dashed var(--textcolor); */
  /* border-radius: 50%; */
  width:100%;
  height:100%;
  z-index: 99;
  max-height: 100vh;
  max-width: 100vw;
  border: none;
  /* margin:1rem; */
  background: linear-gradient(to bottom, rgba(168,191,163,0) 0%, rgba(45, 45, 45, 1) 50%, rgba(168,191,163,0) 100%);
  background-repeat: repeat;
  animation: down 120s infinite linear;
  background-size:100% 15%;
}

#pulsar:hover {
  /* background:var(--hover); */
  background: linear-gradient(to bottom, rgba(168,191,163,0) 0%, var(--hover) 50%, rgba(168,191,163,0) 100%);
  background-repeat: repeat;
  animation: down 120s infinite linear;
  background-size:100% 15%;
}

@keyframes down {
  /* 0% {background-position:  0 0;} */
  0% {background-position:  0 -200%;}
  100% {background-position:  -400% 0}
}

.about {
  margin-top: 1rem;
  /* display: flex;
  justify-content: flex-start;
  align-items: flex-end; */
  /* position: fixed; */
  /* background: rgb(136, 119, 148); */
  /* border-radius: 50%; */
  /* top:0; */
  /* padding-left: 1rem; */
  /* width:100%; */
  /* height:50%; */
  opacity: 0;
  /* z-index: -1;
  font-size: 2rem; */
  /* line-height: 3rem; */
  /* text-align: center; */
  /* max-height: 100vh; */
  /* max-width: 100vw; */
  /* display: none; */
  transition: opacity .1s ease-in-out;
  pointer-events: none;
}

.about-toggle {
  opacity:1;
  pointer-events: all;
}


/* JS CHECK
--------------------------------------- */
/* placeholder images if js is disabled */
.js-checkImg {
  display:block;
}

/* don't show if js is enabled */
.js .js-checkImg {
  display:none;
}

.no-js #wrapper {
  opacity:1;
}





/* SLIDES
--------------------------------------- */
.slide-wrap {
  position: absolute;
  top: 0;
  left: 0;
  /* min-height: 73vh; */
  min-height: 100vh;
  min-width: 100vw;
  list-style: none;
  display: flex;
  margin: 0;
  background-position: center;
  padding: 0;
  /* background: red; */
  z-index: -1;
}

.slide {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  position: absolute;
  left: 0;
  top: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: opacity .3s ease-in-out;
}

.slide img{
  position: relative;
  overflow: hidden;
  max-width: 100%;
  max-height: 50vh;
}

.content {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  align-self: center;
}


/* MEDIA QUERY
--------------------------------------- */
@media (min-width:800px) {
  /* #header {
    flex-direction: c;
    align-items: flex-start;
  } */

  /* #name {
    width:33%;
  } */

  /* #phrase {
    width:33%;
    text-align: center; */
  }

  /* #links {
    position: relative;
    width:33%;
    justify-content: flex-end;
  } */
}
