* {
  box-sizing: border-box;
}

:root {
  --textcolor: rgb(55, 53, 50);
  --linkcolor: rgba(55, 53, 50, 0.7);
  --bg: #e8e3d1;
  --bg2:rgb(212, 216, 237);
  --bg3:rgb(143, 146, 163);
}

::selection {
  background: rgb(255, 255, 255);
}

::-moz-selection {
  background: rgb(255, 255, 255);
}

html {
  font-size:16px;
}

body {
  /* font-family: 'libre baskerville',serif; */
  font-family: 'source code pro',monospace;
  /* font-weight: lighter; */
  font-size: 1rem;
  line-height: 1.2rem;
  background: var(--bg);
  color: var(--textcolor);
  /* overflow: hidden; */
  /* transition: background 5s ease; */
  opacity:0;
  transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
}

.alert {
  background:rgb(15, 15, 15);
}

img {
  max-width: 100%;
  /* border-radius: 20px; */
}

a {
  color: var(--linkcolor);
  text-decoration: none;
  /* display: inline-block; */
  transition: opacity .2s ease;
  /* white-space: pre; */
}

a:hover {
  font-style: italic;
}

ul {
  margin: 0;
  padding: 0;
  padding-left: 2rem;
}

li {
  list-style:none;
  /* line-height: 1.5rem; */
  display: inline;
  word-wrap: break-word;
}

.about li::before {
  /* content: '⧽ '; */
  /* content: '-----------------❥'; */
  /* content: '────────────●'; */
  /* content: '... '; */
  /* content: '●'; */
  /* padding-right: 1rem; */
}

.list-wrap {
  padding-left:2rem;
  hyphens: auto;
  white-space: normal;
  word-wrap: break-word;
}

hr {
  border:none;
  border-bottom:1px solid var(--textcolor);
  /* height:4px; */
  margin:1rem 0;
}

button {
  border: none;
}

/* type sizing */
.small {
  font-size:.8em;
  line-height: 1.1em;
}

.large {
  font-size:1.13em;
}

p {
  margin:0;
  padding:0;
}

h1 {
  font-size: 1em;
  line-height: 1.3em;
  font-weight: normal;
  margin: 0 0 .3rem 0;
}

.indent {
  margin-left: 2rem;
  /* display: inline-block; */
  /* width:2rem; */
}


/* LOADING & WRAPPER
--------------------------------------- */
#wrapper {
  background: var(--bg);
  padding:2rem;
}



/* ABOUT
--------------------------------------- */
.about {
  margin: 0 0 2rem 0;
  opacity: 1;
  transition: opacity 5s ease;
  pointer-events: all;
  max-width: 570px;
}

.hide {
  opacity:0;
}

.about-toggle {
  opacity:1;
  pointer-events: all;
}



/* HEADER
--------------------------------------- */
#header {
  display: flex;
  flex-direction: column;
  width:100%;
  justify-content: space-between;
  align-items: flex-start;
}

#phrase {
  font-style:italic;
  max-width: 560px;
  padding-left: 2rem;
}

#phrase::before {
  /* content: '... '; */
  font-style: normal;
}


/* TOOLTIP
--------------------------------------- */
.toolspan {
  text-decoration:none;
  position:relative;
  cursor: help;
  color: var(--bg3);
  font-weight: normal;
  display: inline-block;
}

.toolspan span {
  display:none;
  border: 1px solid black;
  line-height: 0;
  z-index: 9999;
  background: var(--bg2);
}

.tooltip p {
  line-height: 1.1rem;
  padding:1rem;
  color:var(--textcolor);
}

.toolspan:hover span {
  display:block;
  position:fixed;
  overflow:hidden;
}

.tooltip img {
  max-height: 400px;
  margin: 0;
  padding:0;
}

/* AFTER
--------------------------------------- */
.after {
  margin: 2rem 0 0 0;
  /* padding: 2rem; */
  /* max-width: 560px; */
}

.thank-you {
  max-width: 570px;
}

.rightside {
  width:50%;
  position: absolute;
  right:0;
  top:0;
  max-height: 100vh;
  overflow-y: scroll;
  white-space: pre;
}


/* SLIDES
--------------------------------------- */
.slide-wrap {
  position: relative;
  list-style: none;
  display: flex;
  margin: 0;
  margin-bottom: 2rem;
  padding: 0;
  margin-left: 2rem;
  max-width:100%;
}

.slide img::selection {
  background:transparent;
}

.slide {
  position: relative;
  top: 0;
  margin:0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* width:100%; */
}

.video-slide {
  width:100%;
}

.slide-img{
  position: relative;
  overflow: hidden;
  /* width: 610px; */
  max-width: 100%;
  max-height: 400px;
  /* height:100%; */
  border:1px solid var(--textcolor);
  cursor: pointer;
  background:var(--bg2);
  /* width:100%; */
}

.embed-wrap {
  max-width: 790px;
}

.video-grow {
  max-width:1190px;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;

  background:var(--textcolor);
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  width: 102%;
  height: 102%;
}

iframe {
  /* pointer-events: none; */
}

iframe::selection {
  background:transparent;
}

.mobile-video {
  display:none;
}

.grow {
  max-height: 80vh;
}

.content {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-start; */
  position: relative;
  align-self: flex-start;
  max-width: 100%;
}

.content p {
  font-size: .8em;
  line-height: 1.1em;
  margin-top: .5rem;
  max-width: 610px;
}

.content p::selection{
  background: transparent;
}

.magnify {
  position: absolute;
  left:-2rem;
  cursor: pointer;
}

.magnify::before {
  content:"+";
}

.fw {
  position: absolute;
  left:-2rem;
  top:1.5rem;
  /* cursor: pointer; */
  opacity:0;
}

.fw::before {
  content:">";
}

.fw:hover {
  /* opacity:1; */
}

.bw {
  position: absolute;
  left:-2rem;
  top:3rem;
  /* cursor: pointer; */
  opacity:0;
}

.bw::before {
  content:"<";
}

.bw:hover {
  /* opacity:1; */
}

.active::before {
  content:"-";
}

.fade {
  background: linear-gradient(
    var(--bg), rgba(213,223,196,0));
  position: relative;
  /* bottom:-1rem; */
  height:1rem;
  width:100%;
  margin-bottom: 6rem;

}

.bottom {
  position: fixed;
  bottom:0;
  left:0;
  width:100%;
  height:100%;
  line-height: 0;
  z-index: -1
}

.lounger {
  width:100px;
  position: absolute;
  bottom:0;
  left:0;
}

.lounger img {
  width:100px;
}

.notes {
  position:absolute;
  bottom:35px;
  left:65px;
  /* z-index: 999; */
}

.notes img {
  width:70px;
}


.shutter {
  width:100%;
  height:100%;
  position: fixed;
  top:0;
  right:0;
  background: linear-gradient(to bottom, rgba(99, 99, 99, 0) 20%, rgba(255, 255, 255, 1) 100%);
  z-index: -1;
  pointer-events: none;
  background-repeat: repeat;
  animation: down 350s infinite linear;
  background-size:100% 4%;
}

@keyframes down {
  /* 0% {background-position:  0 0;} */
  0% {background-position:  0 -200%;}
  100% {background-position:  -400% 0}
}


/* MEDIA QUERY
--------------------------------------- */
@media (max-width:800px) {
  body {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }

  #wrapper {
    flex-direction: column;
  }

  #phrase {
    padding-left: .5rem;
  }

  .slide-img {
    max-height: 80vh;
  }

  /* iframe {
    min-width: 88vw;
    min-height: 100%;
  } */

  .magnify {
    display: none;
  }

  ul {
    padding-left:.5rem;
  }

  .indent {
    margin-left: .5rem;
  }

  .slide-wrap {
    margin-left: 0;
  }

  .list-wrap {
    padding-left:.5rem;
  }

  .embed-wrap {
    display:none;
  }

  .mobile-video {
    display:block;
  }
}
