* {
  box-sizing: border-box;
}

:root {
  --textcolor: rgb(55, 53, 50);
  /* --linkcolor: rgb(121, 118, 107); */
  --linkcolor: rgba(55, 53, 50, 0.7);
  /* --bg: rgb(185, 198, 188); */
  --bg: rgb(232, 227, 209);
  --hover: #316e3f;
  --tan: rgb(201, 210, 206);
  --nicegreen: #aabb7f;
  --green: rgb(132, 206, 155);
  --yellow: rgb(242, 220, 165);
  --border: rgba(20,20,20,.6);
}

::selection {
  background: rgb(255, 255, 255);
}

::-moz-selection {
  /* background: rgb(242, 220, 165); */
  background:var(--hover);
}

body {
  font-family: 'libre baskerville',serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  background: var(--bg);
  color: var(--textcolor);
  /* overflow: hidden; */
  transition: background 5s ease;
}

.alert {
  background:rgb(15, 15, 15);
}

img {
  max-width: 100%;
  border-radius: 20px;
}

a {
  color: var(--linkcolor);
  text-decoration: none;
  /* border-bottom: 1px solid var(--textcolor); */
  /* border-bottom: .5px dashed rgb(102, 102, 102); */
}

a:hover {
  /* border-bottom: 1px dashed var(--textcolor); */
  /* background: white; */
  font-style: italic;
}

ul {
  margin: 0;
  padding: 0;
  padding-left: 2rem;
}

li {
  list-style:none;
  /* line-height: 1.5rem; */
  display: inline;
}

.about li::before {
  /* content: '⧽ '; */
  /* content: '-----------------❥'; */
  /* content: '────────────●'; */
  /* content: '... '; */
  /* content: '●'; */
  /* padding-right: 1rem; */
}

hr {
  border:none;
  border-bottom:1px solid var(--textcolor);
  /* height:4px; */
  margin:1rem 0;
}

button {
  border: none;
}

/* type sizing */
.small {
  font-size:.88rem;
}

.large {
  font-size:1.13rem;
}

p {
  margin:0;
  padding:0;
}

.indent {
  display: inline-block;
  width:2rem;
}


/* LOADING & WRAPPER
--------------------------------------- */
#loading {
  background-color: var(--bg);
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 999;
}

#wrapper {
  /* height:100vh; */
  opacity:0;
  transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  /* margin:1rem; */
  /* margin:0 2rem; */
  /* cursor: help; */
  /* pointer-events: none; */
}



/* ABOUT
--------------------------------------- */
.about {
  padding: 2rem;
  opacity: 1;
  transition: opacity 5s ease;
  pointer-events: all;
  max-width: 610px;
}

.hide {
  opacity:0;
}

.about-toggle {
  opacity:1;
  pointer-events: all;
}

.door {
  width:5vw;
  height:5vh;
  background-color: rgb(218, 218, 218);
  /* background-color: rgb(194, 255, 189); */
  background-image: url('../img/flower-a.gif');
  /* background-position: center; */
  background-size: 50px;
  border: 1px var(--linkcolor) dotted;
  position: fixed;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  animation: down 150s infinite linear;
  /* box-shadow: inset 0px 0px 9px -1px rgba(0,0,0,0.43); */
  transition: width 5s ease, height 5s ease;
  border-radius: 50%;
}

.door:hover {
  height:96vh;
  width:98vw;
}

.garden-sign {
  position: fixed;
  background-color: rgb(218, 218, 218);
  font-style: italic;
  padding:1rem 1.5rem;
  text-align: center;
  display: inline;
  top:3rem;
  left:50%;
  border-radius: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.43);
  pointer-events: none;
  /* opacity: 0; */
  transition: opacity .5s ease;
  transition-delay: 5s;
}

.sign-delay {
  transition-delay: 0s;
}




/* HEADER
--------------------------------------- */
#header {
  display: flex;
  flex-direction: column;
  width:100%;
  justify-content: space-between;
  align-items: flex-start;

  /* height:2rem; */
  /* background:orange; */
}

#name {
  /* background: red; */
  /* width:33%; */
  margin-bottom: .4rem;
}

#phrase {
  font-style:italic;
  max-width: 610px;
  /* margin-right: 4rem; */
  /* background: green; */
  /* text-align: center; */
  /* flex-grow: 1; */
  /* width:33%; */
  padding-left: 2rem;
}

#phrase::before {
  /* content: '... '; */
  font-style: normal;
}

#links {
  /* background: blue; */
  position: absolute;
  right:1rem;
  /* width:50%; */
  display: flex;
  /* height:100%; */
  justify-content: flex-end;
  z-index: 9999;
  /* align-items: center; */
}

#links-btn {
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height:100%; */
  width:3.5rem;
  height:3.5rem;
  text-align: center;
  /* border:1px solid var(--textcolor); */
  background: var(--textcolor);
  /* border-radius: 50%; */
  border-radius: 20px;
  transition: background .1s ease-in-out;
  /* padding:.2rem 0; */
  /* font-size: 2rem; */
}

#links-btn:hover {
  background: var(--hover);
  cursor: pointer;
}


/* PULSAR
--------------------------------------- */
#pulsar-wrap {
  position: fixed;
  bottom:0;
  right:0;
  width:100%;
  height:50%;
  /* background: red; */
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  /* border-top:1px solid var(--textcolor); */
}

#pulsar {
  /* position: absolute; */
  /* border:1px dashed var(--textcolor); */
  /* border-radius: 50%; */
  width:100%;
  height:100%;
  z-index: 99;
  max-height: 100vh;
  max-width: 100vw;
  border: none;
  /* margin:1rem; */
  background: linear-gradient(to bottom, rgba(168,191,163,0) 0%, rgba(45, 45, 45, 1) 50%, rgba(168,191,163,0) 100%);
  background-repeat: repeat;
  animation: down 150s infinite linear;
  background-size:100% 8%;
  /* border-left: 1px solid var(--textcolor); */
}

#pulsar:hover {
  /* background:var(--hover); */
  /* background: linear-gradient(to bottom, rgba(168,191,163,0) 0%, var(--hover) 50%, rgba(168,191,163,0) 100%);
  background-repeat: repeat;
  animation: down 150s infinite linear;
  background-size:100% 8%; */
}

.object {
  width:100%;
  height:100%;
  background:var(--textcolor);
  background:rgb(159, 173, 88);
  position: absolute;
  opacity: 0;

  transition: opacity 1s ease;
  /* top:50%;
  left:50%;
  transform: translate(-50%, -50%); */
  /* border-radius: 50%; */
}

#pulsar-wrap:hover .object {
  opacity: 1;
}

@keyframes down {
  /* 0% {background-position:  0 0;} */
  0% {background-position:  0 -200%;}
  100% {background-position:  -400% 0}
}


/* JS CHECK
--------------------------------------- */
/* placeholder images if js is disabled */
.js-checkImg {
  display:block;
}

/* don't show if js is enabled */
.js .js-checkImg {
  display:none;
}

.no-js #wrapper {
  opacity:1;
}





/* SLIDES
--------------------------------------- */
.slide-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  /* min-height: 73vh; */
  min-height: 100vh;
  min-width: 100vw;
  list-style: none;
  display: flex;
  margin: 0;
  /* background-position: center; */
  padding: 0;
  /* background: red; */
  z-index: -1;
}

.slide {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  position: absolute;
  bottom: 0;
  padding:2rem;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: opacity .3s ease-in-out;
}

.slide img{
  position: relative;
  overflow: hidden;
  max-width: 100%;
  max-height: 600px;
}

.content {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-start; */
  position: relative;
  align-self: flex-start;
}


/* MEDIA QUERY
--------------------------------------- */
@media (max-width:1200px) {
  body {
    /* background:red; */
  }

  #wrapper {
    /* display: flex; */
    flex-direction: column;
    height:100vh;
  }

  .about {
    /* height:100%; */
    margin-bottom: 30vh;
    /* background:orange; */
    /* overflow-y: scroll; */
  }

  .door-wrap {
    width:100%;
    height:30%;
    /* background:green; */
    position: fixed;
    bottom:0;
    left:0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }

  .door {
    /* position: relative; */
    /* top:0;
    left: 0; */
    /* transform: translate(null); */
    /* width:100%;
    height:100%; */
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    height:96%;
    width:98%;
  }


  .door:hover {
    height:96%;
    width:98%;
  }
}
