html, body {
  height: 100%;
  background:black;
}

body {
  margin: 0;
  display: flex;
  font-family: 'vt323', monospace;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

canvas {
  /*animation:skew 3s infinite alternate ease-in-out;*/
   /*filter:blur(20px); */
}

.type {
  position: fixed;
  color:#808080;
  font-size: 1.5rem;
  text-align: center;
  bottom:200px;
  left:50%;
  transform:translate(-50%,50%);
  /*width:50%;*/
  /* padding-right:2rem; */
  /* animation: move 20s infinite ease-in-out; */
  z-index: 9999;
  border:1px solid #808080;
  /* min-width:100%; */
  /*height:160px;*/
  max-height:160px;
  padding:20px;
   background: black;
  /* background:red; */
}

#typed {
  z-index:999;
  /*background:black;*/
}


@keyframes skew {
  0% {transform:skew(-5deg);}
  2% {transform:skew(-5deg);}
  98% {transform:skew(5deg);}
  100% {transform:skew(5deg);}
}
