html, body {
  height: 100%;
  background:black;
}

body {
  margin: 0;
  display: flex;
  /*background:rgb(65,84,99);*/

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

canvas {
  /*animation:skew 3s infinite alternate ease-in-out;*/
}

@keyframes skew {
  0% {transform:skew(-5deg);}
  2% {transform:skew(-5deg);}
  98% {transform:skew(5deg);}
  100% {transform:skew(5deg);}
}