<!DOCTYPE html>
<html lang="en">
<head>
    <title>template</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="circle"></div>
  <div class="rectangle"></div>

  <div class="text">
    <h1>A Rant About "Technology"</h1>
    <p>In an interesting and favorable notice of Changing Planes (which you can find elsewhere on the site, in Spanish and English), the Argentinean reviewer asserts that since Le Guin isn't a hard science fiction writer, "technology is carefully avoided." I stuck a footnote onto this in my translation of the article, and here is the footnote expanded — because this business is really getting my goat.</p>

    <p>'Hard' sf is all about technology, and 'soft' sf doesn't have any technology, right? And my books don't have technology in them, because I am only interested in psychology and emotions and squashy stuff like that, right?</p>

    <p>Not right. How can genuine science fiction of any kind lack technological content? Even if its principal interest isn't in engineering or how machines work — if like most of mine, it's more interested in how minds, societies, and cultures work — still, how can anybody make a story about a future or an alien culture without describing, implicitly or explicitly, its technology?</p>

    <img src="img/needle.jpg" alt="">
    <a href="https://google.com">Homepage of the Empire</a>
    <p>Nobody can. I can't imagine why they'd want to.</p>

    <p>Its technology is how a society copes with physical reality: how people get and keep and cook food, how they clothe themselves, what their power sources are (animal? human? water? wind? electricity? other?) what they build with and what they build, their medicine - and so on and on. Perhaps very ethereal people aren't interested in these mundane, bodily matters, but I'm fascinated by them, and I think most of my readers are too.</p>

    <p>Technology is the active human interface with the material world.</p>

    <p>But the word is consistently misused to mean only the enormously complex and specialised technologies of the past few decades, supported by massive exploitation both of natural and human resources.</p>

    <p>This is not an acceptable use of the word. "Technology" and "hi tech" are not synonymous, and a technology that isn't "hi," isn't necessarily "low" in any meaningful sense.</p>

    <p>We have been so desensitized by a hundred and fifty years of ceaselessly expanding technical prowess that we think nothing less complex and showy than a computer or a jet bomber deserves to be called "technology " at all. As if linen were the same thing as flax — as if paper, ink, wheels, knives, clocks, chairs, aspirin pills, were natural objects, born with us like our teeth and fingers -- as if steel saucepans with copper bottoms and fleece vests spun from recycled glass grew on trees, and we just picked them when they were ripe...</p>

    <p>One way to illustrate that most technologies are, in fact, pretty "hi," is to ask yourself of any manmade object, Do I know how to make one?</p>

    <p>Anybody who ever lighted a fire without matches has probably gained some proper respect for "low" or "primitive" or "simple" technologies; anybody who ever lighted a fire with matches should have the wits to respect that notable hi-tech invention.</p>

    <p>I don't know how to build and power a refrigerator, or program a computer, but I don't know how to make a fishhook or a pair of shoes, either. I could learn. We all can learn. That's the neat thing about technologies. They're what we can learn to do.</p>

    <p>And all science fiction is, in one way or another, technological. Even when it's written by people who don't know what the word means.</p>

    <p>All the same, I agree with my reviewer that I don't write hard science fiction. Maybe I write easy science fiction. Or maybe the hard stuff's inside, hidden — like bones, as opposed to an exoskeleton....</p>
    <p>-<em>Ursula K Le Guin</em></p>
  </div>

</body>
</html>
