body {
  background: rgb(133, 163, 115);
}

img{
  max-width: 100%;
}

h1 {
  font-family: 'times new roman', serif;
  padding: 5px;
}

p {
  width:500px;
}

.rectangle {
  width:500px;
  height:100px;
  background:black;
}

.circle {
  width:500px;
  height:100px;
  background:black;
  border-radius:50%;
}
