.back-wrap {
  top:50%;
  left:50%;
  position: fixed;
  /* margin:1rem; */
  /* background:green; */
  /* margin-bottom:1rem; */
  width:97%;
  height:97%;
  transform:translate(-50%, -50%);
  z-index: 9999;
}

/* .back {
    background-image: url(../img/particles6.gif);
    background-size: 220px;
    background-position: center center;
    animation: scroll 500s linear infinite;
    position:fixed;
    transition: background-color .2s, height .5s;
    width:100vw;
    height:20px;
    top:0;
    left:0;
} */

.back {
  background-image: url(../img/particles6.gif);
  background-size: 220px;
  background-position: center center;
  animation: scroll 500s linear infinite;
  position: absolute;
  bottom:0;
  left:50%;
  transform: translateX(-50%);
  font-size: 1rem;
  padding:1rem 1rem 1rem 1rem;
  display: block;
  min-width:30px;
  transition: box-shadow .2s ease-in-out;
  border-radius: 15px;
  text-decoration: none;
  display: flex;
  color:rgb(241,241,241);
  align-items: center;
  background-color:rgb(0,0,0);
}

.back:hover {
  box-shadow: 0px 0px 20px red;
  /* background-color:rgb(255,0,0); */
}
