body {
  /* background: rgb(159, 159, 159); */
  background: rgb(0,0,0);
  background-image: url(../img/particles6.gif);
  background-size: 230px;
  animation: scroll 1000s linear infinite;
  overflow: hidden;
  /* font-family: 'vt323', monospace; */
  line-height: .8rem;
}

.wrap {
  height:100vh;
  width:100vw;
  animation: scroll 900s linear infinite;
  display:flex;
  justify-content: center;
  align-items: center;
}

.cube {
  background-image: url(../img/checks3.gif);
  background-size: 200px;
  background-position: center center;
  /* border: 1px solid rgba(255,255,0); */
  /* border: 18px ridge rgba(255,255,0); */
  width:90vw;
  height:90vh;
  /* background:green; */
  /* margin-bottom:1rem; */
  animation: scroll 500s linear infinite;
  position:fixed;
  transition: width 5s ease-in-out, height 5s ease-in-out, box-shadow 5s ease-in-out;
}

.z {
  /* border: 1px solid rgba(0,0,0); */
}

.a {
  width:80vw;
  height:80vh;
}

.b {
  width:70vw;
  height:70vh;
}

.c {
  width:60vw;
  height:60vh;
}

.d {
  width:50vw;
  height:50vh;
}

.e {
  width:40vw;
  height:40vh;
}

.f {
  width:30vw;
  height:30vh;
}

.g {
  width:20vw;
  height:20vh;
}

.h {
  width:10vw;
  height:10vh;
  background-image: url(../img/particles6.gif);
  background-size: 230px;
  background-color: rgb(0,0,0);
}

.h:hover {
  width:50vw;
  height:50vh;
  /* box-shadow: 0px 0px 200px red; */
  /* background:rgb(255,244,101); */
}

.butterfly {
  position: fixed;
  width:100px;
  height:100px;
  top:0;
  animation: fly 20s linear infinite;
  pointer-events: none;
}

@media (min-width:800px) {
  .h {
    width:5vw;
    height:5vh;
  }
}
