body {
  background: rgb(150,141,141);
  margin:0;
}

img {
  margin:0;
}

.wrap {
  /* background-image: url("../img/jungle3.gif"); */
  /* background-size: 600px; */
  animation: scroll 900s linear infinite;
  /* filter: blur(1px); */
}

.a {
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.a > img {
  width:100px;
  /* border:1px dashed black; */
  /* filter: blur(4px); */
}

.a:hover {
  cursor: zoom-in;
}

.a:hover .hide {
  display:block;
}

.b {
  position: fixed;
  top:5%;
  left:20%;
  transform:translateX(-20%);
}

.b img {
  width:70%;
}

.hide {
  position: fixed;
  display: flex;
  width:90vw;
  left:50%;
  top:50%;
  text-align: center;
  transform:translate(-50%, -50%);
  display:none;
  pointer-events: none;
}

.hide img {
  align-self: center;
  width:45%;
  border: none;
}
