<nav class="menu active" id="nav">
  <span class="name-wrap">
    <!-- <img class="icon" src="{{ site.baseurl }}/assets/favicon.png" title="patience"> -->
     <span class="icon" title="patience">☘</span>
    <span class="name" title="aidan quinlan">aidan</span>
  </span>
  <div class="dropdowns">
    {% if page.layout == 'photos' %}
    <select name="rooms" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">

      {% assign groups = site.pages | group_by: "category" | sort: "order" %}
      {% for group in groups %}
        
        {% if group.name == 'main' %}
          {% for item in group.items %}
            <option class="menu-item" {% if item.title == 'photo' %}selected="selected"{% endif %} value="{{ site.baseurl }}{{ item.url }}">
              {{ item.title }}
            </option>
          {%endfor%}
        {%endif%}
      {%endfor%}

      
    </select>

    <select name="years" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
      {% assign groups = site.photo | group_by: "category" %}
        {% for group in groups %}
          
          {% if group.name == 'year' %}
            {% for item in group.items reversed %}
              <option class="menu-item" {% if page.url == item.url %}selected="selected"{% endif %} value="{{ site.baseurl }}{{ item.url }}">
                {{ item.title }}
              </option>
            {%endfor%}
          {%endif%}
        {%endfor%}
    
    </select>

    {% elsif page.layout == 'studio' %}

    <select name="rooms" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">

      {% assign groups = site.pages | group_by: "category" | sort: "order" %}
      {% for group in groups %}
        
        {% if group.name == 'main' %}
          {% for item in group.items %}
            <option class="menu-item" {% if item.title == 'studio' %}selected="selected"{% endif %} value="{{ site.baseurl }}{{ item.url }}">
              {{ item.title }}
            </option>
          {%endfor%}
        {%endif%}
      {%endfor%}

      
    </select>

    <select name="tags" onchange="" id="tagSelector">
      <option class="menu-item">all</option>
      {% assign tags =  site.studio | map: 'tags' | join: ','  | split: ',' | uniq | sort %}
      {% for tag in tags %}
        <option class="menu-item" value="{{ tag }}">
          {{ tag }}
        </option>
      {% endfor %}
    
    </select>

    <div class="studio-nav">
      <button class="open-all">[open all]</button>
      <button class="close-all">[close all]</button>
    </div>

    {% else %}

    <select name="rooms" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">

      {% assign groups = site.pages | group_by: "category" | sort: "order" %}
      {% for group in groups %}
        
        {% if group.name == 'main' %}
          {% for item in group.items %}
            <option class="menu-item" {% if page.url == item.url %}selected="selected"{% endif %} value="{{ site.baseurl }}{{ item.url }}">
              {{ item.title }}
            </option>
          {%endfor%}
        {%endif%}
      {%endfor%}

      {% if page.nav == 'ignore' %}
      <option class="menu-item" selected="selected" value="{{ site.baseurl }}{{ item.url }}">
        ???
      </option>
      {%endif%}
      
    </select>

    {% endif %}
  </div>
  <div class="nav-spacer"></div>
  <div class="time-of-day"></div>

</nav>
