body {
  background: black;
}

img{
  max-width: 100%;
}

p {
  text-align: center;
  color:rgb(184, 194, 238);
  padding-top:1.5rem;
}

.wrap {
  width:100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin:1rem auto;
}

.block {
  padding:1rem;
  width:15%;
  display:flex;
  flex-direction: column;
}

.wy-tooltip {
	color: #ffffff;
	background: #000000;
	position: absolute;
	padding: 5px;
	text-align: left;
	border-radius: 5px;
	 -moz-border-radius: 5px;
	 -webkit-border-radius: 5px;
   transition:opacity 0.3s ease-in-out;
}
.wy-hide { opacity:0; }


.block:hover > .info {
  opacity:1;
}

.number {
  display:none;
}


.text {
  margin:0 auto;
  max-width: 500px;
  text-align: center;
}

.rectangle {
  position: fixed;
  bottom:20px;
  left:50px;
  width:200px;
  height:100px;
  background:black;
}

.circle {
  position: absolute;
  bottom:120px;
  left:50px;
  width:100px;
  height:100px;
  background:black;
  border-radius:50%;
}
