:root {
  --orange: rgba(255, 166, 110, 1);
  --yellow: rgba(254, 223, 189, 1);
  --green: rgba(227, 254, 189, 1);
  --btn: rgba(0, 0, 0, 0.07);
  --btn-lighter: rgba(0, 0, 0, 0.03);
  --text: rgba(74, 64, 54, 1);
  --link: rgba(93, 78, 67, 0.7);
  --link-hover: rgba(93, 78, 67, 0.44);

  --br: 20rem;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
  margin:1rem;
  background: var(--yellow);
  color: var(--text);
  font-size: 1.5rem;
  font-family: 'ibm plex sans', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

p{
  margin:0 0 1rem 0;
  padding:0;
}

.indent {
  width:80px;
  display: inline-block;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
  margin-top:4rem;
  margin-bottom: 1rem;
  font-weight: lighter;
  font-style: italic;
}

h1::before {
  content:'( '
}

h1::after {
  content:' )'
}

h2{
  font-size: 1.5rem;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  margin:0 0 2rem 0;
}

i {
  font-family: 'ibm plex mono', monospace;
  font-size: 1.4rem;
  font-weight: lighter;
}

img {
  max-width: 80%;
}

xmp {
  padding:1rem;
  margin:0 auto;
  font-size: 1rem;
  text-align: left;
  overflow-x: scroll;
  font-family: 'ibm plex mono', monospace;
}

ul {
  padding-left: 1em;
}

ol {
  padding-left: 1em;
}

li {
  padding-left: 29px;
}

a {
  font-family: 'ibm plex mono', monospace;
  font-style: italic;
  font-size: 1.4rem;
  color: var(--link);
  text-decoration: none;
  transition: color .1s ease-in-out;
}

a:hover {
  color:var(--link-hover);
}

/* selected link */
.sel {
  color: var(--link-hover);
}

.sel::before {
  content:'('
}

.sel::after {
  content:')'
}

hr {
  border: none;
  position: relative;
  left:0;
  right:0;
  margin-left: -50%;
  margin-right: -50%;
  margin-top:1rem;
  margin-bottom:1rem;
  border-top:1px solid rgba(0, 0, 0, 0.2);
  min-width:100vw;
  height:0;
}

.hr-blank {
  border:none;
}

.hr-sun {
  height:20px;
  width:20px;
  background: var(--text);
  border-radius: 50%;
  margin: 6rem auto 6rem auto;
  filter: blur(3px);
  animation: pulse 3s alternate ease-in-out infinite;
}

@keyframes pulse {
  0% {transform: scale(1);}
  100% {transform: scale(1.2);}
}

.emph {
  font-style: italic;
}

.content-panel p, ol, ul{
  margin: 0 auto 1rem auto;
  max-width:60rem;
}

.content-panel .footnote {
  font-size: 1.2rem;
  text-align: center;
  margin:4rem auto 0 auto;
  opacity: .6;
}

.footnote a {
  font-size: 1.1rem;
}

.nav-wrap {
  width:100%;
  position: absolute;
  z-index: 99999;
  top:0;
  left:0;
  padding:1rem 1rem 1rem 1rem;
  background: var(--yellow);
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width:100%;
}

.nav-btn {
  text-align: center;
  width:49.9%;
  /* border:1px solid rgba(0, 0, 0, 0.20); */
  margin-bottom:.2vw;
  padding:1.3rem;
  background: radial-gradient(ellipse at center, var(--orange) 0%, var(--orange) 15%, var(--btn) 21%, var(--btn) 100%);
  background-size:400% 1000%;
  background-position:;
  background-repeat: repeat;
}

.tl {
  border-radius: 100px 10px 30px 10px;
  animation: ascend-tl 400s infinite linear;
}

.tr {
  border-radius: 10px 100px 10px 30px;
  animation: ascend-tr 400s infinite linear;
}

.bl {
  border-radius: 10px 30px 10px 100px;
  animation: ascend-bl 400s infinite linear;
}

.br {
  border-radius: 30px 10px 100px 10px;
  animation: ascend-br 400s infinite linear;
}

@keyframes ascend-tl {
  0% {background-position:  -100% 300%;}
  100% {background-position:  -100% -700%;}
}

@keyframes ascend-tr {
  0% {background-position:  -200% 300%;}
  100% {background-position:  -200% -700%;}
}
@keyframes ascend-bl {
  0% {background-position:  -100% -800%;}
  100% {background-position:  -100% -1800%;}
}
@keyframes ascend-br {
  0% {background-position:  -200% -800%;}
  100% {background-position:  -200% -1800%;}
}

.nav-btn:hover {
}

.row {
  flex-direction: row;
}

.column .btn{
  border-radius: 10px;
  width:100%;
  /* max-width: 60rem; */
}

.column {
  flex-direction: column;
}

.btn-wrap {
  width:100%;
  max-width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.btn {
  display: flex;
  justify-content:center;
  align-items: center;
  background: var(--btn);
  text-align: center;
  /* margin:0 auto .4vw auto; */
  margin: 0 .1vw .2vw .1vw;
  width:250px;
  padding:.8rem;
  border-radius: var(--br);
  transition: background .1s ease-in-out,
              color .1s ease-in-out;
}

.btn:hover {
  background: var(--btn-lighter);
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width:100%;
  margin-top: 15rem;
  margin-bottom: 5rem;
}

.content-panel {
  width:100%;
  /* max-width:60rem; */
  margin-bottom:1vw;
}

.text-c {
  text-align: center;
}

.content-panel .quote {
  max-width:33rem;
  margin: 0 auto;
  /* font-family: 'ibm plex mono', monospace; */
  font-style: italic;
}

.student:hover {
}

.bottom-nav {
  width:100vw;
  position: fixed;
  display: flex;
  justify-content: space-around;
  height:2rem;
  z-index: 99999999;
  bottom:1rem;
  left:0;

}

.bottom-btn {
  /* background: var(--btn); */
  font-size: 1rem;
  padding:1rem;
  opacity: .5;
  /* margin-left: 2rem; */
  line-height: 0;
  border-radius: 10px;

}

.garden-btn {
  /* border:1px solid rgba(0, 0, 0, 0.20); */
  background: linear-gradient(to top, rgba(250,197,127,1) 0%, rgba(250,197,127,1) 30%, rgba(228, 201, 171, 0.0) 50%);
  background: linear-gradient(to top, rgba(226, 198, 168, 1) 0%, rgba(226, 198, 168, 1) 30%, rgba(228, 201, 171, 0.0) 50%);
  background: linear-gradient(to top, var(--link-hover) 0%, var(--link-hover) 5%, rgba(254,223,189,0) 20%);

  background-size: 100% 100%;
  display: block;
  display: none;
  position: fixed;
  z-index: 999999;
  width:100vw;
  height:5rem;
  left:0;
  bottom:0;
  text-align: center;
  background-position: bottom;
  color:black;
  transition: background-size .1s ease-in-out;
}

.garden-btn:hover {
  background-size: 100% 200%;
  /* height:8rem; */
}

.fade-top {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:4rem;
  background: linear-gradient(to bottom, var(--yellow) 0%, var(--yellow) 40%, rgba(254,223,189,0) 100%);
}

.fade-btm {
  position: fixed;
  /* display: none; */
  bottom:0;
  left:0;
  width:100%;
  height:9rem;
  background: linear-gradient(to top, var(--yellow) 0%, var(--yellow) 40%, rgba(254,223,189,0) 100%);
}

.full {
  width:100%;
}

@media only screen and (max-width: 800px) {

  .footer {
    align-content: center;
    flex-direction: column;
  }
}
