p {
  max-width: 1000px;
  padding: 5px;
  margin: 50px;
  background: rgb( 171, 241, 246);
  color: black;
  text-align: center;
  font-size: 15px;
  display: block;
  margin: 0 auto;
  font-family: 'Loved by the King', cursive;
}

.p2 {
  padding: 20px;
  width: 350px;
  color: black;
  background: none;
  text-align: center;
  display: block;
  font-size: 15px;
  margin: 0 auto;
  font-family: 'Loved by the King', cursive;
}

.p3 {
  max-width: 1000px;
  padding: 5px;
  margin: 50px;
  background: rgb( 176, 251, 245);
  color: black;
  text-align: center;
  font-size: 15px;
  margin: 0 auto;
  font-family: 'Loved by the King', cursive;
}

img {
  width: 500px;
  margin: 0 auto;
  display: block;
  padding: 20px;
}

.mybox {
  width: 50px;
  height: 50px;
  background: pink;
  border: 1px solid black;
}

.anotherbox {
  width: 100px;
  height: 100px;
  background: url('myimage.jpg');
}

h1 {
  text-align: center;
  font-family: 'Loved by the King', cursive;
}
.p5 {
  max-width: 1000px;
  background-color: white;
}
