
html {
    background: black;
}

.bg-animate {
    /* animation: bg 40s infinite alternate ease-in-out; */
}

body {
    margin:0;
    /* display: flex;
    height:100vh;
    align-items: center; */
}

img {
    max-width:100%;
    max-height: 100vh;
}

img::selection {
    background:transparent;
}

.music {
    display:none;
}

.main-carousel {
    width:100%;
    height:100vh;
}

.carousel-cell {
    display:flex;
    max-height:100%;
    width:25%;
    justify-content: center;
    align-items: center;
    pointer-events: none;

}

.carousel-cell img {
    /* filter: blur(8px); */
    width:80%;
}

button {
    cursor:pointer;
    background:black;
    color:#639bff;
    border: 1px solid;
    /* border:0; */
    border-radius: 3px;
}

button:hover {
    background:#303435;
}

button:active {
    background:#232627;
}

.sleep {
    position: fixed;
    bottom:20px;
    left:50%;
    transform:translateX(-50%);
    z-index: 99;
    /* height: 30px; */
    padding:5px;
    /* color:#ffffff; */
    /* border-right:1px solid black; */
    transition: opacity .5s;
}

.sleep.hide {
    opacity:0;
    pointer-events: none;
}

@keyframes bg {
    0% {
        background:black;
    }
    100% {
        background:#639bff;
    }
}