body {
  background: rgb(156, 168, 209);
  margin:2rem;
  font-family: 'pt sans caption', sans-serif;
}

a {
  text-decoration: none;
  color:rgb(255,84,84);
}

a:hover {
  color:white;
  text-decoration: none;
}

ul {
  margin:0;
  padding:0;
}

li {
  list-style: none;
  margin:0;
  border-bottom: .5px solid rgba(0,0,0,.5);
  border-right: .5px solid rgba(0,0,0,.5);
  border-left: .5px solid rgba(0,0,0,.5);
  display:flex;
}

li img {
  display:none;
  position:fixed;
  bottom:2rem;
  right:2rem;
  max-width:300px;
  border: .5px solid rgba(0,0,0,.5);
}

a li {
  color:black;
  transition: background .2s;
}

a li:hover {
  background:rgba(232, 226, 195, 0.83);
}

.block {
  margin-bottom:1rem;
}

.nav-btn {
  position: fixed;
  width:60px;
  height:100vh;
  top:0;
}

.nav-btn:hover {
  background: rgba(232, 226, 195, 0.83);
}

.left {
  left:0;
}

.right {
  right:0;
}

.principles {
  border-bottom: .5px ridge rgba(0,0,0,.5);
  border-right: .5px ridge rgba(0,0,0,.5);
  border-left: .5px ridge rgba(0,0,0,.5);
  padding:1.5rem 2.5rem 1rem 2.7rem;
  width: auto;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.2rem;
  box-shadow: inset 0 0 40px white;
}

.principles p {
  text-align: center;
  font-style: italic;
  font-weight: 400;
  font-size: 1.3rem;
}

.principles li {
  border:none;
  list-style: upper-roman;
  margin-bottom:1rem;
  display:list-item;
  padding-left:.5rem;
}

.a {
  width:50%;
  padding: .3rem .5rem;
}

.b {
  width:50%;
  border-left: .5px solid rgba(0,0,0,.5);
  padding: .3rem .5rem;
}

#wrapper {
  max-width:560px;
  margin: 0 auto;
  opacity:0;
  transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
}

#loading {
  background-color: rgb(166,166,166);
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 999;
}

#loading-obj {
  position:absolute;
  left:50vw;
  top:50vh;
  transform: translate(-50%, -50%);
  text-align: center;
}

#cube {
  display: block;
  background-color:rgb(156, 168, 209);
  background-blend-mode: overlay;
  background-size: 200px;
  background-position: center center;
  border: .5px solid rgba(0,0,0,.5);
  height:200px;
  margin-bottom:1rem;
  animation: scroll 900s linear infinite;
  cursor:pointer;

}

#cube:hover {
  box-shadow: inset 0 0 40px white;
}

.head-label {
  background:rgba(255,255,255,.17);
  border: .5px solid rgba(0,0,0,.5);
  text-align: center;
  margin:0;
  padding: .3rem .5rem;
}

.update {
  text-align: center;
  margin-top: 2rem;
  font-size: .8rem;
}

#sketch {
  overflow: hidden;
  display:flex;
  justify-content: center;
  align-self: center;
  max-height:200px;
  border: .5px solid rgba(0,0,0,.5);
  background: rgb(156, 168, 209);
}


@keyframes scroll{
  0% {background-position: 0 0;}
  100% {background-position: -500vh 200vh;}
}

@keyframes color{
  0% {filter:hue-rotate(0deg);}
  100% {filter:hue-rotate(20deg);}
}

@media (min-width:560px) {
  .principles {
    padding:1.5rem 4.5rem 1rem 5rem;
  }

  li:hover img {
    display: block;
  }
}
