html {
  padding:0;
  margin:0;
}

body {
  width:100vw;
  height:100vh;
  background:black;
  cursor:grab;
}

.container {
  width:100vw;
  height:100vh;
  cursor:grab;
  overflow: scroll;
}

.window-container {
  position: fixed;
  display: flex;
  width:100vw;
  height:100vh;
  z-index: 99999;
  pointer-events: none;
}

.sidebar {
  position: relative;
  display:inline;
  width:100%;
  height:100vh;
  background:black;
}

.window img{
  /* position: relative; */
  /* top:-50vh; */
  /* left:50vw; */
  /* transform: translateY(50vh); */
  /* transform: translateX(-50%); */
  /* max-width:100vw; */
  max-height:100vh;
}

.image {

}
