p {
  text-align: center;
  font-size: 20px;
  font-family: monospace;
  color: #0055FF;
}

h1 {
  text-align: center;
  font-family: monospace;
  color: #FF5EAC;
}

/* unvisited link */
a:link {
 color: #FF5EAC;
}

/* visited link */
a:visited {
 color: #00E1FF;
}

/* mouse over link */
a:hover {
 color: #FF5EAC;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}
