body{
  margin:0;
  background: #b4bac7;
  overflow: hidden;
  font-size: 1rem;
}

p{
  margin:0;
}

.container {
  position: fixed;
  bottom:0;
  right:0;
  width:50%;
  height:100%;
  display: flex;
  /* border:1px solid rgb(0, 0, 0); */
  flex-direction: column;
}

.container p {
  /* margin-left: 1rem; */
  text-align: center;
}

.window {
  /* background: rgb(119, 164, 241); */
  /* background: radial-gradient(ellipse at center, #ffffff 6%,#2989d8 100%);
  background: radial-gradient(ellipse at center, #a6ddbc 0%,#2989d8 100%); */
  /* box-shadow: 0px 0px 25px -3px rgba(0,0,0,0.42); */
  /* box-shadow: 0px 0px 33px -3px rgba(0,0,0,0.19); */
  /* border-radius: 12px; */
  overflow: hidden;
}

.a {
  width:100%;
  height:100%;
  background: radial-gradient(ellipse at center, #b4bac7 0%,#457dfc 100%);
  background-repeat: repeat;
  background-size:200% 20%;
  animation: down 30s infinite linear;
}

.b {
  width:100%;
  height:30%;
  /* background: radial-gradient(ellipse at center, #b4bac7 0%,#457dfc 100%); */
  background: radial-gradient(ellipse at center, rgba(169,181,209,1) 0%, rgba(169,181,209,1) 44%, rgba(88,122,85,1) 100%);
  background-repeat: repeat;
  background-size:50% 25%;
  animation: up 20s infinite linear;
}

.c {
  position: absolute;
  width:100%;
  height:10%;
  bottom:18%;
  /* opacity:.5; */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 20%, rgba(48,48,48,1) 50%, rgba(0,0,0,0.4) 80%, rgba(0,0,0,0) 100%);
}

.item {
  position: fixed;
  font-family: 'Nunito', sans-serif;
  font-size: 3rem;
}

.obj1 {
  bottom:.3rem;
  left:1rem;
}

.obj1 img {
  /* border:5px solid yellow; */
  /* box-shadow: 0px 0px 33px -3px rgba(0,0,0,0.19); */
  max-width: 400px;
}

.lin1 {
  top:43%;
  left:15%;
}

.lin2 {
  top:50%;
  left:15%;
}

.shutter {
  width:100%;
  height:100%;
  position: fixed;
  top:0;
  left:0;
  background: linear-gradient(to bottom, rgba(99,99,99,1) 0%, rgba(204,204,204,1) 45%, rgba(204,204,204,1) 55%, rgba(99,99,99,1) 100%);
  background-repeat: repeat;
  animation: down 250s infinite linear;
  background-size:100% 5%;
}

.sign {
  position: fixed;
  font-family: 'Nanum Gothic Coding', monospace;
  top:1rem;
  left:1rem;
  background:#80a7ff;
  /* border-radius: 12px; */
  padding:1.3rem 1.5rem;
  font-size: 1rem;
  box-shadow: 0px 0px 33px -3px rgba(0,0,0,0.19);
}

.draggable:hover {
  cursor: grab;
}

@keyframes down {
  /* 0% {background-position:  0 0;} */
  0% {background-position:  0 -200%;}
  100% {background-position:  -400% 0}
}

@keyframes up {
  /* 0% {background-position:  0 0;} */
  0% {background-position:  0 0%;}
  100% {background-position:  0 -200%}
}
