<!DOCTYPE html>
<html lang="en">

<!-- The <head> is an essential part of the html document, it should always be preceded by the doctype and language elements. It includes the "title" of the page, which is the text that appears in the browser tab, as well as links to stylesheets, javascript, and other external material. -->

<head>
  <meta charset="utf-8">
  <title>template</title>
  <link rel="stylesheet" href="style.css">
</head>

<!-- Then comes the <body>, where all the content of the page goes. This is where we'll spend most of our time building the structure of the page and adding text and images. -->
<body>

      <!-- Think of a <div> as a kind of general container, a blank slate that we can define and use as we like, whether to actually contain something or just define/refer to something. -->
    <div class="rectangle"></div>
    <div class="rectangle"></div>
    <div class="rectangle"></div>
    <div class="rectangle"></div>
    <div class="rectangle"></div>
    <div class="rectangle"></div>
    <div class="rectangle"></div>
    <div class="egg"></div>
    <div class="egg"></div>

      <!-- A <p> tag stands for "paragraph". All of these tags carry default attributes and styles, but can be overridden to look and behave any way we like. -->
    <p>
      "We have been so desensitized by a hundred and fifty years of ceaselessly expanding technical prowess that we think nothing less complex and showy than a computer or a jet bomber deserves to be called "technology " at all. As if linen were the same thing as flax — as if paper, ink, wheels, knives, clocks, chairs, aspirin pills, were natural objects, born with us like our teeth and fingers -- as if steel saucepans with copper bottoms and fleece vests spun from recycled glass grew on trees, and we just picked them when they were ripe..."

      <a href="http://www.ursulakleguin.com/">- Ursula K. Le Guin</a>
    </p>
      <!-- The <img> tag is for inserting images into a page, every <img> tag needs an src or "source" and and alt attribute, which assits in accesibility if the image is unable to load or be seen by the user. We can use a url taken from somewhere else on the internet or we can refer to our own image that we've included in our website folder. The path to the image is important and depends on the location of your html document. -->
    <img src="img/coyote.gif" alt="coyote">
    <div class="egg"></div>
    <div class="egg"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div id="triangle-up"></div>


</body>
</html>
